@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
body {
  font-family: 'Roboto', cursive;
}

.login,.signup   {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  /* background: #FFFFFF; */
  border-radius: 10px;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  background: url(https://media4.giphy.com/media/BHNfhgU63qrks/giphy.gif) center center no-repeat;
  background-size: cover;
}

.Form Input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
}

.form Input:focus {
  background: #dbdbdb;
}
.ant-input-affix-wrapper{
  background: #f2f2f2;
}
.ant-input-affix-wrapper:focus {
  background: #f2f2f2;
}
.ant-input-affix-wrapper input{
  outline: 0 !important;
  box-sizing: border-box;
  border: none !important;
  background: #f2f2f2;
  margin: 10px;
}
:where(.css-dev-only-do-not-override-4fkhgu).ant-input-affix-wrapper:not(:where(.css-dev-only-do-not-override-4fkhgu).ant-input-affix-wrapper-disabled):hover {
  border: none !important;
}
.form Button {
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  outline: 0;
  background: #4b6cb7;
  border: 0;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form Button:active {
  background: #395591;
}

.form span#dangNhap,span#dangKy {
  font-size: 40px;
  color: #4b6cb7;
  margin-bottom: 25px;
  display: block;
}

.form p.error {
  margin: 0 0 10px 10px;
  text-align: left;
  font-size: 10px;
  color: red;
}
ul.nav.flex-column li a.nav-link{
  color: black;
}
ul.nav.flex-column li a.nav-link.active{
 font-weight: bold;
}
.d-flex.justify-content-start{
  padding-left: 30px;
}
.btn-danger,.btn-danger:hover {
  color: #fff;
  background-color: #d9534f;
  border-radius: 50% !important;
  border-color: #d9534f !important;
}
.ant-tooltip-inner {
  min-width: 32px;
  min-height: 32px;
  padding: 6px 8px;
  color: black important;
  text-align: start;
  text-decoration: none;
  word-wrap: break-word;
  background-color:white !important;
  border-radius: 100px;
}

@media (min-width: 1200px){
  .container {
    width: 100%;
}
}

.loader-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.834)
      url("https://media.giphy.com/media/8agqybiK5LW8qrG3vJ/giphy.gif") center
      no-repeat;
  z-index: 1;
}
.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.834);
  z-index: 100;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@media(min-width: 375px) and (max-width: 667px) {
  
}